.container {
	margin-top: auto;

	.face {
		width: 100%;

		.label {
			margin-top: 24px;
			text-align: center;
		}

		.bigLetter {
			font-size: 3.5rem;
			color: #5E5C61;
		}

		.dropzone {
			margin-top: 48px;
		}
	}

	.dataPaper {
		margin: 24px 0;
		padding: 16px;

		.paragraph {
			padding: 6px 0;
		}
	}
}
